{% extends 'base.html.twig' %}

{% block title %}Matiére index{% endblock %}

{% block body %}
    <h1>Matiére index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_M</th>
                <th>Intitulé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mati_re in mati_res %}
            <tr>
                <td>{{ mati_re.id }}</td>
                <td>{{ mati_re.idM }}</td>
                <td>{{ mati_re.intitulé }}</td>
                <td>
                    <a href="{{ path('app_mati_re_show', {'id': mati_re.id}) }}">show</a>
                    <a href="{{ path('app_mati_re_edit', {'id': mati_re.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mati_re_new') }}">Create new</a>
{% endblock %}
